@import 'tailwindcss';

html,
body {
  background-color: #f9f9f9;
}
h1 {
  @apply text-3xl font-bold text-red-500;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg font-bold text-blue-600;
}

h5 {
  @apply text-base;
}
